@media all and (prefers-color-scheme: light) {
  :root {
    --color-text: #000000;
    --color-bg-secondary: #ffffff;
    --color-bg-primary: #cbcac7;
    --color-bg-inputs: #dddddd;
  }
}

@media all and (prefers-color-scheme: dark) {
  :root {
    --color-text: #888888;
    --color-bg-secondary: #000000;
    --color-bg-primary: #222222;
    --color-bg-inputs: #444444;
  }
}

:root {
  --nav-border: var(--color-text) solid 1px;
  --dot-size: 1.2rem;
}

html {
  color: var(--color-text);
  background-color: var(--color-bg-secondary);
  font-family: sans-serif;
}

body {
  margin: 0;
  min-width: 900px;
  min-height: 600px;
  height: 100dvh;
}

nav {
  width: 100%;
  height: fit-content;
  border-bottom: var(--nav-border);
}

nav > ol, nav > ol > li > ul, #context-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ol {
  display: flex;
  font-size: large;
  height: 2rem;
  line-height: 2rem;
}

nav > ol > li {
  width: 8rem;
  border-right: var(--nav-border);
  text-align: center;
}

noscript > li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #ffffff;
  background-color: #aa0000;
}

nav > ol > li, nav > ol > li > ul > li, #context-menu > li {
  background-color: var(--color-bg-primary);
}

nav > ol > li:hover, nav > ol > li > ul > li:hover, #context-menu > li:hover {
  background-color: var(--color-bg-inputs);
}

nav > ol > li > ul {
  display: none;
  position: relative;
  z-index: 100;
}

nav > ol > li:hover > ul {
  display: block;
}

nav > ol > li > ul > li, #context-menu > li {
  text-align: start;
  padding: 0.5rem;
  border-left: var(--nav-border);
  border-right: var(--nav-border);
}

nav > ol > li > ul > li:empty, #context-menu > li:empty {
  border-top: var(--nav-border);
  padding: 0;
}

nav > ol > li > ul > li:first-of-type, #context-menu > li:first-of-type {
  border-top: var(--nav-border);
}

nav > ol > li > ul > li:last-of-type, #context-menu > li:last-of-type {
  border-bottom: var(--nav-border);
}

nav > ol > li > ul > li:has(a) {
  padding: 0;
}

nav > ol > li > ul > li > span {
  margin-left: 0.5rem;
  color: #666666;
}

a {
  display: block;
  color: var(--color-text);
  text-decoration: none;
  padding: 0.5rem;
}

main {
  display: flex;
  height: calc(100% - 2rem - 1px);
}

#explorer {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
  border-right: var(--nav-border);
  font-size: 1.5rem;
}

#library {
  margin: 0;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  list-style-type: none;
}

#library > li:hover {
  background-color: var(--color-bg-inputs);
}

#search {
  margin: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--color-bg-inputs);
  color: var(--color-text);
}

#library, #search {
  padding-left: 1rem;
  padding-right: 1rem;
}

#graph {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.node {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: transparent solid 1px;
  padding-bottom: 1rem;
  min-width: 150px;
}

.node > p {
  margin-bottom: 1rem;
  color: #000000;
  background-color: #ffffff;
  border: #000000 solid 1px;
  text-align: center;
}

.node > div {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 1rem;
  color: #ffffff;
  background-color: #000000;
}

.node > div:has(div:last-child) {
  justify-content: end;
}

.node > div > div {
  min-width: var(--dot-size);
  min-height: var(--dot-size);
  background-color: var(--color-text);
  border-radius: var(--dot-size);
}

.node > div > div:first-child {
  margin-left: calc(var(--dot-size) / 2 * -1);
}

.node > div > div:last-child {
  margin-right: calc(var(--dot-size) / 2 * -1);
}

.node > p, .node > div > label, .node > div > input, .node > div > select {
  padding: 0.25rem;
}

.node > div > input, .node > div > select {
  width: 100%;
}

.node > div > select {
  text-align: center;
}

.node > div:has(label) > input, .node > div:has(label) > select {
  margin-left: 1rem;
}

.selected {
  border: var(--nav-border);
}

#context-menu {
  position: fixed;
  z-index: 50;
}