@media all and (prefers-color-scheme: light) {
    :root {
        --color-text: #000000;
        --color-bg-secondary: #ffffff;
        --color-bg-primary: #dbdad7;
        --color-console: #dddddd;
    }
}

@media all and (prefers-color-scheme: dark) {
    :root {
        --color-text: #888888;
        --color-bg-secondary: #000000;
        --color-bg-primary: #222222;
        --color-console: #444444;
    }
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: var(--color-bg-secondary);
}

#input {
    grid-area: 1 / 1 / 3 / 2;
    resize: none;
    background-color: var(--color-bg-primary);
    color: var(--color-text);
}

#canvas {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    width: 100%;
}

#output {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--color-bg-primary);
    overflow-y: auto;
    overflow-wrap: break-word;
}

#menu {
    border-bottom: var(--color-bg-secondary) 3px solid;
    background-color: var(--color-bg-primary);
    position: sticky;
    top: 0;
}

button, input {
    font-size: large;
    margin: 1rem;
    border-radius: 8px;
    background-color: var(--color-console);
    color: var(--color-text);
}

a {
    display: contents;
}

.info, .error, .success {
    padding: 1rem;
    border-bottom: var(--color-console) 2px solid;
}

.info {
    background-color: var(--color-bg-primary);
    color: var(--color-text);
}

.error {
    background-color: #290000;
    color: #e46962;
}

.success {
    background-color: #002900;
    color: #69e462;
}